{% extends 'base.html' %}

{%block title %} Inicio {{sistema.Nombre_sistema}} {% endblock %}

{% block content %} <br>

<div id="seccion_media">
<br>
<h3>Encuentra tu mejor ruta:</h3>
<br><br>

<p>
<a href="#" class="btn btn-link"><img src="/media/images/icon_manual.jpg" class="img-circle" width=150px><p>Manual</p></a>
<a href="#" class="btn btn-link"><img src="/media/images/icon_gps.jpeg" class="img-circle" width=150px><p>GPS</p></a>
</p>

</div>

<div id="seccion_media">
<br>
<h3>Informacion util:</h3>
<img="/images/icon_rutas.png" class="img-circle">
<br><br>
<p>
<a href="#" class="btn btn-link"><img src="/media/images/icon_rutas.png" class="img-circle" width=150px><p>Rutas</p></a>
<a href="#" class="btn btn-link"><img src="/media/images/icon_estaciones.png" class="img-circle" width=150px><p>Estaciones</p></a>
</p>




</div>

{% endblock%}

